CONFIG_SYS_EXTRA_OPTIONS="BOARDREV=\\1,REVBOARD=\\1"
CONFIG_SYS_BOOT_FROM_SDUSB=y
CONFIG_ARM=y
CONFIG_ARCH_STI=y
CONFIG_TARGET_B2260_STXH410=y
CONFIG_BOARD_REV_A=y
CONFIG_USE_SBL_SCHEME=y
# CONFIG_CMD_IMLS is not set
CONFIG_USB=y
CONFIG_OF_LIBFDT=y
CONFIG_SPL_OF_LIBFDT=y
