#
# STiH410 B2260 configuration
#

# clean architecture
# CONFIG_ARCH_VIRT is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_ARTPEC is not set
# CONFIG_MACH_ARTPEC6 is not set
# CONFIG_ARCH_AT91 is not set
# CONFIG_SOC_SAMA5D2 is not set
# CONFIG_SOC_SAMA5D3 is not set
# CONFIG_SOC_SAMA5D4 is not set
# CONFIG_ARCH_BCM is not set
# CONFIG_ARCH_BCM_CYGNUS is not set
# CONFIG_ARCH_BCM_HR2 is not set
# CONFIG_ARCH_BCM_NSP is not set
# CONFIG_ARCH_BCM_5301X is not set
# CONFIG_ARCH_BCM_281XX is not set
# CONFIG_ARCH_BCM_21664 is not set
# CONFIG_ARCH_BCM2835 is not set
# CONFIG_ARCH_BCM_63XX is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_MACH_BERLIN_BG2 is not set
# CONFIG_MACH_BERLIN_BG2CD is not set
# CONFIG_MACH_BERLIN_BG2Q is not set
# CONFIG_ARCH_DIGICOLOR is not set
# CONFIG_ARCH_EXYNOS is not set
# CONFIG_EXYNOS5420_MCPM is not set
# CONFIG_ARCH_HIGHBANK is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_HI3xxx is not set
# CONFIG_ARCH_HIP01 is not set
# CONFIG_ARCH_HIP04 is not set
# CONFIG_ARCH_HIX5HD2 is not set
# CONFIG_ARCH_MXC is not set
# CONFIG_SOC_IMX50 is not set
# CONFIG_SOC_IMX51 is not set
# CONFIG_SOC_IMX53 is not set
# CONFIG_SOC_IMX6Q is not set
# CONFIG_SOC_IMX6SL is not set
# CONFIG_SOC_IMX6SX is not set
# CONFIG_SOC_IMX6UL is not set
# CONFIG_SOC_IMX7D is not set
# CONFIG_SOC_LS1021A is not set
# CONFIG_SOC_VF610 is not set
# CONFIG_ARCH_KEYSTONE is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MILBEAUT is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_MACH_ARMADA_370 is not set
# CONFIG_MACH_ARMADA_375 is not set
# CONFIG_MACH_ARMADA_38X is not set
# CONFIG_MACH_ARMADA_39X is not set
# CONFIG_MACH_ARMADA_XP is not set
# CONFIG_MACH_DOVE is not set
# CONFIG_ARCH_OMAP3 is not set
# CONFIG_ARCH_OMAP4 is not set
# CONFIG_SOC_OMAP5 is not set
# CONFIG_SOC_AM33XX is not set
# CONFIG_SOC_AM43XX is not set
# CONFIG_SOC_DRA7XX is not set
# CONFIG_ARCH_SIRF is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_MSM8X60 is not set
# CONFIG_ARCH_MSM8960 is not set
# CONFIG_ARCH_MSM8974 is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_EMEV2 is not set
# CONFIG_ARCH_R7S72100 is not set
# CONFIG_ARCH_R8A73A4 is not set
# CONFIG_ARCH_R8A7740 is not set
# CONFIG_ARCH_R8A7743 is not set
# CONFIG_ARCH_R8A7745 is not set
# CONFIG_ARCH_R8A77470 is not set
# CONFIG_ARCH_R8A7778 is not set
# CONFIG_ARCH_R8A7779 is not set
# CONFIG_ARCH_R8A7790 is not set
# CONFIG_ARCH_R8A7791 is not set
# CONFIG_ARCH_R8A7792 is not set
# CONFIG_ARCH_R8A7793 is not set
# CONFIG_ARCH_R8A7794 is not set
# CONFIG_ARCH_SH73A0 is not set
# CONFIG_ARCH_SOCFPGA is not set
# CONFIG_PLAT_SPEAR is not set
# CONFIG_ARCH_SPEAR13XX is not set
# CONFIG_MACH_SPEAR1310 is not set
# CONFIG_MACH_SPEAR1340 is not set
# CONFIG_SOC_STIH415 is not set
# CONFIG_SOC_STIH416 is not set
# CONFIG_ARCH_STM32 is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_U8500 is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_VEXPRESS_TC2_PM is not set
# CONFIG_ARCH_WM8850 is not set
# CONFIG_ARCH_ZYNQ is not set
# CONFIG_PCIEPORTBUS is not set
# CONFIG_CAN is not set

# CONFIG_NET_VENDOR_ARC is not set
# CONFIG_NET_CADENCE is not set
# CONFIG_NET_VENDOR_BROADCOM is not set
# CONFIG_NET_VENDOR_CIRRUS is not set
# CONFIG_NET_VENDOR_EZCHIP is not set
# CONFIG_NET_VENDOR_FARADAY is not set
# CONFIG_NET_VENDOR_HISILICON is not set
# CONFIG_NET_VENDOR_INTEL is not set
# CONFIG_NET_VENDOR_MICREL is not set
# CONFIG_NET_VENDOR_MICROCHIP is not set
# CONFIG_NET_VENDOR_NATSEMI is not set
# CONFIG_NET_VENDOR_NETRONOME is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_RENESAS is not set
# CONFIG_NET_VENDOR_ROCKER is not set
# CONFIG_NET_VENDOR_SAMSUNG is not set
# CONFIG_NET_VENDOR_SEEQ is not set
# CONFIG_NET_VENDOR_SMSC is not set
# CONFIG_NET_VENDOR_VIA is not set
# CONFIG_NET_VENDOR_WIZNET is not set
# CONFIG_WLAN_VENDOR_ADMTEK is not set
# CONFIG_WLAN_VENDOR_ATH is not set
# CONFIG_WLAN_VENDOR_ATMEL is not set
# CONFIG_WLAN_VENDOR_BROADCOM is not set
# CONFIG_WLAN_VENDOR_CISCO is not set
# CONFIG_WLAN_VENDOR_INTEL is not set
# CONFIG_WLAN_VENDOR_INTERSIL is not set
# CONFIG_WLAN_VENDOR_MARVELL is not set
# CONFIG_WLAN_VENDOR_MEDIATEK is not set
# CONFIG_WLAN_VENDOR_RALINK is not set
# CONFIG_RTL_CARDS is not set
# CONFIG_WLAN_VENDOR_RSI is not set
# CONFIG_WLAN_VENDOR_ST is not set
# CONFIG_WLAN_VENDOR_TI is not set
# CONFIG_WLAN_VENDOR_ZYDAS is not set

# CONFIG_EEPROM_93CX6 is not set
# CONFIG_AT803X_PHY is not set
# CONFIG_BCM7XXX_PHY is not set
# CONFIG_BROADCOM_PHY is not set
# CONFIG_ICPLUS_PHY is not set
# CONFIG_MARVELL_PHY is not set
# CONFIG_MICREL_PHY is not set
# CONFIG_ROCKCHIP_PHY is not set
# CONFIG_USB_RTL8152 is not set
# CONFIG_SERIO_AMBAKMI is not set
# CONFIG_VT_HW_CONSOLE_BINDING is not set
# CONFIG_SERIAL_8250 is not set
# CONFIG_SERIAL_AMBA_PL011 is not set
# CONFIG_SERIAL_BCM63XX is not set
# CONFIG_SERIAL_XILINX_PS_UART is not set
# CONFIG_SERIAL_FSL_LPUART is not set
# CONFIG_SERIAL_CONEXANT_DIGICOLOR is not set
# CONFIG_I2C_MUX is not set
# CONFIG_I2C_DESIGNWARE_PLATFORM is not set
# CONFIG_I2C_EMEV2 is not set
# CONFIG_I2C_NOMADIK is not set
# CONFIG_I2C_RK3X is not set
# CONFIG_I2C_XILINX is not set
# CONFIG_I2C_SLAVE is not set
# CONFIG_SPI_MEM is not set
# CONFIG_SPI_CADENCE is not set
# CONFIG_SPI_PL022 is not set
# CONFIG_SPI_ROCKCHIP is not set
# CONFIG_SPI_XILINX is not set
# CONFIG_PINCTRL_SINGLE is not set
# CONFIG_GPIO_DWAPB is not set
# CONFIG_GPIO_GENERIC_PLATFORM is not set
# CONFIG_GPIO_PL061 is not set
# CONFIG_GPIO_SYSCON is not set
# CONFIG_GPIO_XILINX is not set
# CONFIG_GPIO_PCA953X is not set
# CONFIG_GPIO_PCF857X is not set
# CONFIG_POWER_RESET_BRCMKONA is not set
# CONFIG_POWER_RESET_BRCMSTB is not set
# CONFIG_POWER_RESET_SYSCON is not set
# CONFIG_POWER_RESET_SYSCON_POWEROFF is not set
# CONFIG_POWER_SUPPLY is not set
# CONFIG_SENSORS_IIO_HWMON is not set
# CONFIG_SENSORS_LM90 is not set
# CONFIG_SENSORS_LM95245 is not set
# CONFIG_SENSORS_NTC_THERMISTOR is not set
# CONFIG_SENSORS_PWM_FAN is not set
# CONFIG_SENSORS_INA2XX is not set
# CONFIG_WATCHDOG is not set
# CONFIG_BCMA_HOST_SOC is not set
# CONFIG_BCMA_DRIVER_GMAC_CMN is not set
# CONFIG_BCMA_DRIVER_GPIO is not set
# CONFIG_MFD_ACT8945A is not set
# CONFIG_MFD_AS3711 is not set
# CONFIG_MFD_AS3722 is not set
# CONFIG_MFD_ATMEL_FLEXCOM is not set
# CONFIG_MFD_ATMEL_HLCDC is not set
# CONFIG_MFD_BCM590XX is not set
# CONFIG_MFD_AXP20X_I2C is not set
# CONFIG_MFD_CROS_EC is not set
# CONFIG_MFD_DA9063 is not set
# CONFIG_MFD_MAX14577 is not set
# CONFIG_MFD_MAX77686 is not set
# CONFIG_MFD_MAX77693 is not set
# CONFIG_MFD_MAX8907 is not set
# CONFIG_MFD_MAX8997 is not set
# CONFIG_MFD_MAX8998 is not set
# CONFIG_MFD_CPCAP is not set
# CONFIG_MFD_PM8XXX is not set
# CONFIG_MFD_RC5T583 is not set
# CONFIG_MFD_RK808 is not set
# CONFIG_MFD_RN5T618 is not set
# CONFIG_MFD_SEC_CORE is not set
# CONFIG_ABX500_CORE is not set
# CONFIG_MFD_STMPE is not set
# CONFIG_MFD_PALMAS is not set
# CONFIG_MFD_TPS65090 is not set
# CONFIG_MFD_TPS65217 is not set
# CONFIG_MFD_TPS65218 is not set
# CONFIG_MFD_TPS6586X is not set
# CONFIG_MFD_TPS65910 is not set
# CONFIG_TWL4030_CORE is not set
# CONFIG_MFD_WM8994 is not set
# CONFIG_REGULATOR_ACT8865 is not set
# CONFIG_REGULATOR_DA9210 is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_GPIO is not set
# CONFIG_REGULATOR_LP872X is not set
# CONFIG_REGULATOR_MAX8973 is not set
# CONFIG_REGULATOR_TPS51632 is not set
# CONFIG_REGULATOR_TPS62360 is not set
# CONFIG_VIDEO_ADV7180 is not set
# CONFIG_VIDEO_ML86V7667 is not set
# CONFIG_DRM_EXYNOS is not set
# CONFIG_DRM_RCAR_LVDS is not set
# CONFIG_DRM_FSL_DCU is not set
# CONFIG_DRM_PANEL_SAMSUNG_LD9040 is not set
# CONFIG_DRM_PANEL_SAMSUNG_S6E8AA0 is not set
# CONFIG_DRM_DUMB_VGA_DAC is not set
# CONFIG_DRM_NXP_PTN3460 is not set
# CONFIG_DRM_PARADE_PS8622 is not set
# CONFIG_DRM_SII9234 is not set
# CONFIG_DRM_I2C_ADV7511_AUDIO is not set
# CONFIG_DRM_MXSFB is not set
# CONFIG_FB_MODE_HELPERS is not set
# CONFIG_FB_ARMCLCD is not set
# CONFIG_FB_EFI is not set
# CONFIG_FB_SIMPLE is not set
# CONFIG_BACKLIGHT_LCD_SUPPORT is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
# CONFIG_SND_ATMEL_SOC is not set
# CONFIG_SND_SOC_FSL_SAI is not set
# CONFIG_SND_SOC_AK4642 is not set
# CONFIG_SND_SOC_SGTL5000 is not set
# CONFIG_SND_SOC_SPDIF is not set
# CONFIG_SND_SOC_TLV320AIC23_I2C is not set
# CONFIG_SND_SOC_TS3A227E is not set
# CONFIG_SND_SOC_WM8753 is not set
# CONFIG_SND_SOC_WM8903 is not set
# CONFIG_SND_SOC_WM8978 is not set
# CONFIG_SND_SIMPLE_SCU_CARD is not set
# CONFIG_USB_OTG is not set
# CONFIG_USB_HSIC_USB3503 is not set
# CONFIG_RTC_DRV_DS1307 is not set
# CONFIG_RTC_DRV_HYM8563 is not set
# CONFIG_RTC_DRV_RS5C372 is not set
# CONFIG_RTC_DRV_BQ32K is not set
# CONFIG_RTC_DRV_S35390A is not set
# CONFIG_RTC_DRV_RX8581 is not set
# CONFIG_RTC_DRV_EM3027 is not set
# CONFIG_RTC_DRV_PL031 is not set
# CONFIG_STAGING_BOARD is not set
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_CLK_QORIQ is not set
# CONFIG_SOC_BRCMSTB is not set
# CONFIG_EXTCON is not set
# CONFIG_MEMORY is not set
# CONFIG_IIO_CONFIGFS is not set
# CONFIG_IIO_SW_TRIGGER is not set
# CONFIG_ADXL345_I2C is not set
# CONFIG_ADXL345_SPI is not set
# CONFIG_VF610_ADC is not set
# CONFIG_MPU3050_I2C is not set
# CONFIG_SENSORS_ISL29018 is not set
# CONFIG_SENSORS_ISL29028 is not set
# CONFIG_AK8975 is not set
# CONFIG_PWM_FSL_FTM is not set
# CONFIG_PHY_SAMSUNG_USB2 is not set
# CONFIG_PHY_CPCAP_USB is not set
# CONFIG_RAS is not set
# CONFIG_CONFIGFS_FS is not set
# CONFIG_PSTORE is not set
# CONFIG_CRYPTO_CRYPTD is not set

# configuration
CONFIG_POSIX_MQUEUE=y
CONFIG_TASKSTATS=y
CONFIG_TASK_XACCT=y
CONFIG_TASK_IO_ACCOUNTING=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_ARM_THUMBEE=y
CONFIG_PL310_ERRATA_588369=y
CONFIG_PL310_ERRATA_727915=y
CONFIG_ARM_ERRATA_720789=y
CONFIG_ARM_ERRATA_754327=y
CONFIG_ARM_ERRATA_798181=y
CONFIG_MCPM=y
CONFIG_HIGHMEM=y
CONFIG_FORCE_MAX_ZONEORDER=12
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_CPUFREQ_DT=y
CONFIG_ARM_STI_CPUFREQ=y
CONFIG_VFP=y
CONFIG_BT=y
CONFIG_BT_LEDS=y
CONFIG_BT_HCIBTUSB=y
# CONFIG_BT_HCIBTUSB_BCM is not set
CONFIG_CFG80211=y
CONFIG_CFG80211_DEBUGFS=y
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211=y
CONFIG_MAC80211_LEDS=y
CONFIG_CMA_SIZE_MBYTES=256
CONFIG_MTD_CFI=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_MTD_CFI_STAA=y
CONFIG_MTD_NAND_ECC_SMC=y
CONFIG_MTD_NAND_ECC_BCH=y
CONFIG_OF_CONFIGFS=y
CONFIG_SRAM=y
CONFIG_SMSC_PHY=y
CONFIG_INPUT_FF_MEMLESS=m
CONFIG_KEYBOARD_ST_KEYSCAN=y
# CONFIG_INPUT_MOUSE is not set
# CONFIG_SERIO_SERPORT is not set
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_ST=y
CONFIG_I2C_GPIO=y
CONFIG_POWER_AVS=y
CONFIG_POWER_RESET=y
CONFIG_THERMAL=y
CONFIG_BCMA=y
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_MEDIA_SUPPORT=y
CONFIG_SOC_CAMERA=y
CONFIG_SOC_CAMERA_PLATFORM=y
CONFIG_VIDEO_VIVID=m
CONFIG_DRM_STI=y
CONFIG_SOUND=y
CONFIG_SND=y
# CONFIG_SND_SPI is not set
# CONFIG_SND_USB is not set
CONFIG_SND_SOC=y
CONFIG_SND_SOC_STI=y
CONFIG_SND_SOC_STI_SAS=y
CONFIG_SND_DYNAMIC_MINORS=y
CONFIG_SND_SIMPLE_CARD=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_USB_ULPI=y
CONFIG_RTC_DRV_ST_LPC=y
CONFIG_DW_DMAC=y
CONFIG_DMATEST=m
CONFIG_VIRTIO_MMIO=y
CONFIG_ARM_TIMER_SP804=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=m
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGER=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_SHA1_ARM_NEON=y
CONFIG_CRYPTO_SHA1_ARM_CE=y
CONFIG_CRYPTO_SHA2_ARM_CE=y
CONFIG_CRYPTO_SHA512_ARM=y
CONFIG_CRYPTO_AES_ARM_BS=y
CONFIG_CRYPTO_AES_ARM_CE=y
CONFIG_CRYPTO_GHASH_ARM_CE=y
CONFIG_CRYPTO_CHACHA20_NEON=m
CONFIG_CRC_ITU_T=m
# CONFIG_MTD_SPI_NOR is not set

# NFS support
CONFIG_NFSD=m
CONFIG_NFSD_V3_ACL=y
CONFIG_NFSD_V4=y
CONFIG_NFSD_BLOCKLAYOUT=y
CONFIG_NFSD_SCSILAYOUT=y
CONFIG_NFSD_FLEXFILELAYOUT=y
